<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-3 col-md-2 test"></div>
  <div class="col-xs-12 col-md-8">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/~user8/book_shop/" >
        <img alt="BookShop" src="">
      </a>
    </div>
	<div class="navbar-header pull-right">
		<a class="navbar-brand" href="/~user8/book_shop/cart">
		<img alt="Корзина <?php echo $cnt; ?>" src="">
		</a>
    </div>
</nav>
<div class="dnk_fon">
<ul class="nav nav-pills nav-justified" ng-controller="loginController as login">
	<?php echo $test; ?>
</ul>
</div>
  </div>
  <div class="col-xs-3 col-md-2 test"></div>
</div>
